// .experience {
//     .heading {
//         text-align: center;
//     }
//     .card {
//         .card1 {
//             --br: 1.2em;

//             border-radius: 0.5em;

//             background-image: url("../../../public/e1.png");
//             background-repeat: no-repeat;
//             border-radius: var(--br);

//             width: clamp(20em, 24vw, 24em);
//             height: clamp(21em, 26vw, 26em);
//             display: flex;
//             align-items: end;
//             // overflow: hidden;
//             transition: all 3000ms ease-in-out;

//             &:hover {
//                 div {
//                     height: 100%;
//                     & > :nth-child(2) {
//                         display: inline;
//                     }
//                 }
//             }
//             div {
//                 width: 100%;
//                 background: rgba(0, 0, 0, 0.7);
//                 transition: all 3000ms ease-in-out;
//                 background-color: red;
//                 border-radius: 0 0 var(--br) var(--br);
//                 padding-inline: 1em;
//                 padding-block: 0.4em;
//                 // border-radius: 0.5em;
//                 // clip-path: inset(0 0 60% 0);
//                 // z-index: 2;
//                 // &:hover {
//                 //     clip-path: inset(0 0 0 0);
//                 // }
//                 & > :nth-child(2) {
//                     display: none;
//                 }
//             }
//         }
//         .card2 {
//             position: relative;
//             div {
//                 position: absolute;
//             }
//         }
//         .card3 {
//             position: relative;
//             div {
//                 position: absolute;
//                 clip-path: inset(10);
//             }
//         }
//     }
// }

.experience {
	margin-block: 2em;

	display: grid;
	gap: 4em;

	.heading {
		font-size: clamp(2rem, 2.75vw, 2.5rem);

		text-align: center;
	}

	.cards {
		display: flex;
		justify-content: space-around;
	}
}
